body {
  box-sizing: border-box;
  background-color: rgb(11, 11, 37);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
.menyu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}
.menyu button {
  border: none;
  font-size: 20px;
  padding: 12px 20px;
  max-width: 400px;
  width: 100%;
  background-color: rgb(100, 100, 153);
  color: white;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.game-container {
  display: none;
}
.statistika-container {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.control-container {
  background-color: rgb(38, 19, 112);
  max-width: 500px;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}
.game-bar {
  padding: 20px 0;
  max-width: 500px;
  width: 100%;
  background-color: rgb(38, 19, 112);

  margin: 0 auto;
}
.randomnumber {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(116, 20, 206);
  text-align: center;
}
.variantlar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}
.javob {
  background-color: rgb(76, 76, 165);
  max-width: 350px;
  width: 90%;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  border-radius: 12px;
}

.statistika-container {
  display: none;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.user-statistik {
  background-color: rgb(38, 19, 112);
  border: 2px solid rgb(76, 76, 165);
  max-width: 500px;
  width: 90%;
  padding: 20px;
  border-radius: 12px;
}

.users {
  display: flex;
  align-items: center;
  gap: 22px;
}

#username {
  font-size: 20px;
}

.user-statistik img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Orqaga {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  background-color: rgb(31, 31, 67);
  border: none;
  color: white;
  padding: 10px 15px;
}
